.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.slick-slide {
  text-align: center;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-arrow {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

.slick-dots {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 5px;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.slick-dots li.slick-active button {
  background: #000;
}

.slick-track {
  width: fit-content;
}

@media (min-width: 768px) {
  .slick-slide {
    height: 400px;
  }
}